<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <title></title>
	<link rel="stylesheet" href="../common.css">
	<style>
		.foot{
			position : absolute;
			bottom : 10px;
			color : red;
			width:100%
		}
	</style>
  </head>
  <body>
	<h1>Welcome, Guest User</h1>
	<div class="fifty"></div>
	<h2>List of all Vaccination Centers near you:</h2>
	<%Center.forEach(center => {%>

		
	<div class="card card-self mx-auto" style="width: 18rem">
        <img
          class="card-img-top"
          src="data:center/<%=center.photo.contentType%>;base64,<%=center.photo.data.toString('base64')%>"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title"><%=center.name%></h5>
          <p class="card-text"><%=center.address%></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Vaccine - <%=center.vaccine_name%></li>
          <li class="list-group-item">Doses - <%=center.doses%></li>
		  <li class="list-group-item">by - <a href="/viewProfile/<%=center.by%>"><%=center.by%></a></li>
        </ul>
        <div class="card-body">
          <a href="tel:<%=center.contact%>" class="card-link">Contact</a>
        </div>
      </div>
      <br />

	<%});%>
	<div class="foot">	
		<h4>Reminder : You are logged in as Guest and missing out on several features such as adding Vaccine Centers and rating Vaccine Centers</h4>
		<h4>
			To Create an Account, 
			<a href="/newUser/register">Click Here</a>

		</h4>
	</div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
